@use "./SCSS/partials/media-query" as mq;

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
main {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include mq.laptop {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.game__header {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    //border: 1px solid red;
    &__content {
        display: flex;
        justify-content: flex-start;
        padding-top: 20px;
        &__title {
            font-size: 1.4em;
            font-weight: bold;
        }
    }
}
.guess {
    display: flex;
    justify-content: center;
    &__content {
        display: flex;
        justify-content: center;
        align-items: end;
        font-size: 2.2em;
        font-weight: bold;
    }
}
.game__body {
    //border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    @include mq.laptop {
        width: 80%;
        flex-direction: row;
        justify-content:center;
        align-items:flex-end;
    }
    @include mq.laptop {
        ///width: 60%;
        flex-direction: row;
        justify-content:center;
        align-items:flex-end;
    }
    //border: 1px solid red;
    &__control {
        //border: 1px solid red;
        //height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;  
        padding-top: 30px;
        gap: 20px;
        @include mq.laptop {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;  
            padding-top: 60px;
            gap: 60px;
        }
        &__keyboard {
            //border: 1px solid red;
            display: flex;
            flex-direction: row;
            width: 90%;
            &__keys {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                .key {
                    border-radius: 10px;
                    font-size: 1.6em;
                    height: 50px;
                    width: 50px;
                    @include mq.laptop {
                        height: 60px;
                        width: 60px;
                    }
                }
            }
        }
        &__btn {
            display: flex;
            flex-direction: row;
            gap: 20px;
            .btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 140px;
                height: 36px;
                background-color: rgb(204, 204, 204);
                border-radius: 10px;
                font-size: 1.2em;
                font-weight: bold;
                @include mq.laptop {
                    height: 46px;
                    width: 160px;
                }
            }
        }
    }
    &__drawing {
        //height: 30vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            font-size: 1.6em;
            color: rgb(255, 153, 0);
        }
        #imageId {
            display: flex;
            flex-direction: column;
            height: 50px;
        }
    }
}
.copyright {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__content {
        ///border: 1px solid red;
        width: 90%;
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        @include mq.laptop {
            width: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}